@import "../../../../assets/var";

.header-middle {
  display: block;
  width: 100%;
  padding-top: 20px / $font-size * 1em;
  padding-bottom: 20px / $font-size * 1em;
}
.header-logo {
  display: block;
  width: 100%;
  max-width: 180px / $font-size * 1em;
  text-decoration: none;
  img {
    display: block;
    border: 0;
    max-width: 100%;
  }
}
