@import "../../../../../../assets/var";

.header-search {
  display: block;
  max-width: 100%;
}
.header-search__btn {
  display: block;
  min-width: 182px / $font-size * 1em;
  padding: (11px / $font-size * 1em) (15px / $font-size * 1em) (11px / $font-size * 1em) (55px / $font-size * 1em);
  border-radius: 5px / $font-size * 1em;
  background-color: $color-red;
  border: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: unset;
  position: relative;
  left: 0;
  top: 0;
  text-align: left;
  .sts-icon {
    display: block;
    margin: 0;
    position: absolute;
    &.sts-iconsearch {
      font-size: 25px / $font-size * 1em;
      color: #fff;
      left: 15px / 25px * 1em;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .text {
    display: block;
    max-width: 100%;
    color: #fff;
    font-size: 16px / $font-size * 1em;
    line-height: 20px / 16px * 1em;
    & + .text {
      font-size: 14px / $font-size * 1em;
      line-height: 17.5px / 14px * 1em;
      opacity: 0.75;
    }
  }
}
