@font-face {
  font-family: 'sts';
  src:  url('./fonts/sts.eot?ihmtlh');
  src:  url('./fonts/sts.eot?ihmtlh#iefix') format('embedded-opentype'),
  url('./fonts/sts.ttf?ihmtlh') format('truetype'),
  url('./fonts/sts.woff?ihmtlh') format('woff'),
  url('./fonts/sts.svg?ihmtlh#sts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="sts-icon"], [class*=" sts-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sts-iconclock:before {
  content: "\e90c";
}
.sts-iconmenu:before {
  content: "\e90d";
}
.sts-iconsearch:before {
  content: "\e90e";
}
.sts-iconarrow-bottom:before {
  content: "\e900";
}
.sts-iconarrow-left:before {
  content: "\e901";
}
.sts-iconarrow-top:before {
  content: "\e902";
}
.sts-iconarrow-right:before {
  content: "\e903";
}
.sts-iconcheck:before {
  content: "\e904";
}
.sts-iconshopping-cart:before {
  content: "\e905";
}
.sts-iconchart-bar:before {
  content: "\e906";
}
.sts-iconuser:before {
  content: "\e907";
}
.sts-iconphone:before {
  content: "\e908";
}
.sts-iconlog-out:before {
  content: "\e909";
}
.sts-iconclose:before {
  content: "\e90a";
}
.sts-iconpaperclip:before {
  content: "\e90b";
}
