@import "../var";

.normal-block {
  display: inline-block;
  width: 100%;
  &.margin-top {
    margin-top: 15px / $font-size * 1em;
  }
  &.margin-bottom {
    margin-bottom: 15px / $font-size * 1em;
  }
}

.justify-space-between {
  justify-content: space-between!important;
}
.justify-start {
  justify-content: flex-start!important;
}
.justify-end {
  justify-content: flex-end!important;
}
.align-items-center {
  align-items: center!important;
}

.container {
  display: block;
  width: 100%;
  padding: 0 (10px / $font-size * 1em);
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0 (-10px / $font-size * 1em);
  &.no-margin {
    margin-left: 0;
    margin-right: 0;
  }
  &.row-margin {
    margin-bottom: -10px / $font-size * 1em;
    margin-top: -10px / $font-size * 1em;
    & > .col, & > .col-auto,
    & > .col-1, & > .col-2, & > .col-3, & > .col-4, & > .col-5, & > .col-6, & > .col-7, & > .col-8, & > .col-9, & > .col-10, & > .col-11, & > .col-12, & > .col-13, & > .col-14, & > .col-15, & > .col-16, & > .col-17, & > .col-18, & > .col-19, & > .col-20, & > .col-21, & > .col-22, & > .col-23, & > .col-24,
    & > .col-sm-1, & > .col-sm-2, & > .col-sm-3, & > .col-sm-4, & > .col-sm-5, & > .col-sm-6, & > .col-sm-7, & > .col-sm-8, & > .col-sm-9, & > .col-sm-10, & > .col-sm-11, & > .col-sm-12, & > .col-sm-13, & > .col-sm-14, & > .col-sm-15, & > .col-sm-16, & > .col-sm-17, & > .col-sm-18, & > .col-sm-19, & > .col-sm-20, & > .col-sm-21, & > .col-sm-22, & > .col-sm-23, & > .col-sm-24,
    & > .col-md-1, & > .col-md-2, & > .col-md-3, & > .col-md-4, & > .col-md-5, & > .col-md-6, & > .col-md-7, & > .col-md-8, & > .col-md-9, & > .col-md-10, & > .col-md-11, & > .col-md-12, & > .col-md-13, & > .col-md-14, & > .col-md-15, & > .col-md-16, & > .col-md-17, & > .col-md-18, & > .col-md-19, & > .col-md-20, & > .col-md-21, & > .col-md-22, & > .col-md-23, & > .col-md-24,
    & > .col-lg-1, & > .col-lg-2, & > .col-lg-3, & > .col-lg-4, & > .col-lg-5, & > .col-lg-6, & > .col-lg-7, & > .col-lg-8, & > .col-lg-9, & > .col-lg-10, & > .col-lg-11, & > .col-lg-12, & > .col-lg-13, & > .col-lg-14, & > .col-lg-15, & > .col-lg-16, & > .col-lg-17, & > .col-lg-18, & > .col-lg-19, & > .col-lg-20, & > .col-lg-21, & > .col-lg-22, & > .col-lg-23, & > .col-lg-24,
    & > .col-xl-1, & > .col-xl-2, & > .col-xl-3, & > .col-xl-4, & > .col-xl-5, & > .col-xl-6, & > .col-xl-7, & > .col-xl-8, & > .col-xl-9, & > .col-xl-10, & > .col-xl-11, & > .col-xl-12, & > .col-xl-13, & > .col-xl-14, & > .col-xl-15, & > .col-xl-16, & > .col-xl-17, & > .col-xl-18, & > .col-xl-19, & > .col-xl-20, & > .col-xl-21, & > .col-xl-22, & > .col-xl-23, & > .col-xl-24,
    & > .col-xxl-1, & > .col-xxl-2, & > .col-xxl-3, & > .col-xxl-4, & > .col-xxl-5, & > .col-xxl-6, & > .col-xxl-7, & > .col-xxl-8, & > .col-xxl-9, & > .col-xxl-10, & > .col-xxl-11, & > .col-xxl-12, & > .col-xxl-13, & > .col-xxl-14, & > .col-xxl-15, & > .col-xxl-16, & > .col-xxl-17, & > .col-xxl-18, & > .col-xxl-19, & > .col-xxl-20, & > .col-xxl-21, & > .col-xxl-22, & > .col-xxl-23, & > .col-xxl-24 {
      padding-top: 10px / $font-size * 1em;
      padding-bottom: 10px / $font-size * 1em;
    }
  }
  &.row-small {
    margin-left: -5px / $font-size * 1em;
    margin-right: -5px / $font-size * 1em;
    & > .col, & > .col-auto,
    & > .col-1, & > .col-2, & > .col-3, & > .col-4, & > .col-5, & > .col-6, & > .col-7, & > .col-8, & > .col-9, & > .col-10, & > .col-11, & > .col-12, & > .col-13, & > .col-14, & > .col-15, & > .col-16, & > .col-17, & > .col-18, & > .col-19, & > .col-20, & > .col-21, & > .col-22, & > .col-23, & > & > .col-24,
    & > .col-sm-1, & > .col-sm-2, & > .col-sm-3, & > .col-sm-4, & > .col-sm-5, & > .col-sm-6, & > .col-sm-7, & > .col-sm-8, & > .col-sm-9, & > .col-sm-10, & > .col-sm-11, & > .col-sm-12, & > .col-sm-13, & > .col-sm-14, & > .col-sm-15, & > .col-sm-16, & > .col-sm-17, & > .col-sm-18, & > .col-sm-19, & > .col-sm-20, & > .col-sm-21, & > .col-sm-22, & > .col-sm-23, & > .col-sm-24,
    & > .col-md-1, & > .col-md-2, & > .col-md-3, & > .col-md-4, & > .col-md-5, & > .col-md-6, & > .col-md-7, & > .col-md-8, & > .col-md-9, & > .col-md-10, & > .col-md-11, & > .col-md-12, & > .col-md-13, & > .col-md-14, & > .col-md-15, & > .col-md-16, & > .col-md-17, & > .col-md-18, & > .col-md-19, & > .col-md-20, & > .col-md-21, & > .col-md-22, & > .col-md-23, & > .col-md-24,
    & > .col-lg-1, & > .col-lg-2, & > .col-lg-3, & > .col-lg-4, & > .col-lg-5, & > .col-lg-6, & > .col-lg-7, & > .col-lg-8, & > .col-lg-9, & > .col-lg-10, & > .col-lg-11, & > .col-lg-12, & > .col-lg-13, & > .col-lg-14, & > .col-lg-15, & > .col-lg-16, & > .col-lg-17, & > .col-lg-18, & > .col-lg-19, & > .col-lg-20, & > .col-lg-21, & > .col-lg-22, & > .col-lg-23, & > .col-lg-24,
    & > .col-xl-1, & > .col-xl-2, & > .col-xl-3, & > .col-xl-4, & > .col-xl-5, & > .col-xl-6, & > .col-xl-7, & > .col-xl-8, & > .col-xl-9, & > .col-xl-10, & > .col-xl-11, & > .col-xl-12, & > .col-xl-13, & > .col-xl-14, & > .col-xl-15, & > .col-xl-16, & > .col-xl-17, & > .col-xl-18, & > .col-xl-19, & > .col-xl-20, & > .col-xl-21, & > .col-xl-22, & > .col-xl-23, & > .col-xl-24,
    & > .col-xxl-1, & > .col-xxl-2, & > .col-xxl-3, & > .col-xxl-4, & > .col-xxl-5, & > .col-xxl-6, & > .col-xxl-7, & > .col-xxl-8, & > .col-xxl-9, & > .col-xxl-10, & > .col-xxl-11, & > .col-xxl-12, & > .col-xxl-13, & > .col-xxl-14, & > .col-xxl-15, & > .col-xxl-16, & > .col-xxl-17, & > .col-xxl-18, & > .col-xxl-19, & > .col-xxl-20, & > .col-xxl-21, & > .col-xxl-22, & > .col-xxl-23, & > .col-xxl-24 {
      padding-left: 5px / $font-size * 1em;
      padding-right: 5px / $font-size * 1em;
    }
  }
}

.col, .col-auto,
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23, .col-24,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20, .col-sm-21, .col-sm-22, .col-sm-23, .col-sm-24,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20, .col-lg-21, .col-lg-22, .col-lg-23, .col-lg-24,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-13, .col-xl-14, .col-xl-15, .col-xl-16, .col-xl-17, .col-xl-18, .col-xl-19, .col-xl-20, .col-xl-21, .col-xl-22, .col-xl-23, .col-xl-24,
.col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl-13, .col-xxl-14, .col-xxl-15, .col-xxl-16, .col-xxl-17, .col-xxl-18, .col-xxl-19, .col-xxl-20, .col-xxl-21, .col-xxl-22, .col-xxl-23, .col-xxl-24 {
  width: 100%;
  display: block;
  padding: 0 (10px / $font-size * 1em);
}
.col {
  width: 100%;
}
.col-auto {
  width: auto;
  max-width: 100%;
}
.col-1 { max-width: $col-1; }
.col-2 { max-width: $col-2; }
.col-3 { max-width: $col-3; }
.col-4 { max-width: $col-4; }
.col-5 { max-width: $col-5; }
.col-6 { max-width: $col-6; }
.col-7 { max-width: $col-7; }
.col-8 { max-width: $col-8; }
.col-9 { max-width: $col-9; }
.col-10 { max-width: $col-10; }
.col-11 { max-width: $col-11; }
.col-12 { max-width: $col-12; }
.col-13 { max-width: $col-13; }
.col-14 { max-width: $col-14; }
.col-15 { max-width: $col-15; }
.col-16 { max-width: $col-16; }
.col-17 { max-width: $col-17; }
.col-18 { max-width: $col-18; }
.col-19 { max-width: $col-19; }
.col-20 { max-width: $col-20; }
.col-21 { max-width: $col-21; }
.col-22 { max-width: $col-22; }
.col-23 { max-width: $col-23; }
.col-24 { max-width: $col-24; }

.d-none {
  display: none!important;
}
.d-block {
  display: block!important;
}
.d-flex {
  display: flex!important;
}

@media (min-width: $media-sm / $font-size * 1em) {
  .container {
    max-width: ($media-sm - 20px) / $font-size * 1em;
  }
  .col-sm-1 { max-width: $col-1; }
  .col-sm-2 { max-width: $col-2; }
  .col-sm-3 { max-width: $col-3; }
  .col-sm-4 { max-width: $col-4; }
  .col-sm-5 { max-width: $col-5; }
  .col-sm-6 { max-width: $col-6; }
  .col-sm-7 { max-width: $col-7; }
  .col-sm-8 { max-width: $col-8; }
  .col-sm-9 { max-width: $col-9; }
  .col-sm-10 { max-width: $col-10; }
  .col-sm-11 { max-width: $col-11; }
  .col-sm-12 { max-width: $col-12; }
  .col-sm-13 { max-width: $col-13; }
  .col-sm-14 { max-width: $col-14; }
  .col-sm-15 { max-width: $col-15; }
  .col-sm-16 { max-width: $col-16; }
  .col-sm-17 { max-width: $col-17; }
  .col-sm-18 { max-width: $col-18; }
  .col-sm-19 { max-width: $col-19; }
  .col-sm-20 { max-width: $col-20; }
  .col-sm-21 { max-width: $col-21; }
  .col-sm-22 { max-width: $col-22; }
  .col-sm-23 { max-width: $col-23; }
  .col-sm-24 { max-width: $col-24; }

  .d-sm-none {
    display: none!important;
  }
  .d-sm-block {
    display: block!important;
  }
  .d-sm-flex {
    display: flex!important;
  }
}
@media (min-width: $media-md / $font-size * 1em) {
  .container {
    max-width: ($media-md - 20px) / $font-size * 1em;
  }
  .col-md-1 { max-width: $col-1; }
  .col-md-2 { max-width: $col-2; }
  .col-md-3 { max-width: $col-3; }
  .col-md-4 { max-width: $col-4; }
  .col-md-5 { max-width: $col-5; }
  .col-md-6 { max-width: $col-6; }
  .col-md-7 { max-width: $col-7; }
  .col-md-8 { max-width: $col-8; }
  .col-md-9 { max-width: $col-9; }
  .col-md-10 { max-width: $col-10; }
  .col-md-11 { max-width: $col-11; }
  .col-md-12 { max-width: $col-12; }
  .col-md-13 { max-width: $col-13; }
  .col-md-14 { max-width: $col-14; }
  .col-md-15 { max-width: $col-15; }
  .col-md-16 { max-width: $col-16; }
  .col-md-17 { max-width: $col-17; }
  .col-md-18 { max-width: $col-18; }
  .col-md-19 { max-width: $col-19; }
  .col-md-20 { max-width: $col-20; }
  .col-md-21 { max-width: $col-21; }
  .col-md-22 { max-width: $col-22; }
  .col-md-23 { max-width: $col-23; }
  .col-md-24 { max-width: $col-24; }

  .d-md-none {
    display: none!important;
  }
  .d-md-block {
    display: block!important;
  }
  .d-md-flex {
    display: flex!important;
  }
}
@media (min-width: $media-lg / $font-size * 1em) {
  .container {
    max-width: ($media-lg - 20px) / $font-size * 1em;
  }
  .col-lg-1 { max-width: $col-1; }
  .col-lg-2 { max-width: $col-2; }
  .col-lg-3 { max-width: $col-3; }
  .col-lg-4 { max-width: $col-4; }
  .col-lg-5 { max-width: $col-5; }
  .col-lg-6 { max-width: $col-6; }
  .col-lg-7 { max-width: $col-7; }
  .col-lg-8 { max-width: $col-8; }
  .col-lg-9 { max-width: $col-9; }
  .col-lg-10 { max-width: $col-10; }
  .col-lg-11 { max-width: $col-11; }
  .col-lg-12 { max-width: $col-12; }
  .col-lg-13 { max-width: $col-13; }
  .col-lg-14 { max-width: $col-14; }
  .col-lg-15 { max-width: $col-15; }
  .col-lg-16 { max-width: $col-16; }
  .col-lg-17 { max-width: $col-17; }
  .col-lg-18 { max-width: $col-18; }
  .col-lg-19 { max-width: $col-19; }
  .col-lg-20 { max-width: $col-20; }
  .col-lg-21 { max-width: $col-21; }
  .col-lg-22 { max-width: $col-22; }
  .col-lg-23 { max-width: $col-23; }
  .col-lg-24 { max-width: $col-24; }

  .d-lg-none {
    display: none!important;
  }
  .d-lg-block {
    display: block!important;
  }
  .d-lg-flex {
    display: flex!important;
  }
}
@media (min-width: $media-xl / $font-size * 1em) {
  .container {
    max-width: ($media-xl - 20px) / $font-size * 1em;
  }
  .col-xl-1 { max-width: $col-1; }
  .col-xl-2 { max-width: $col-2; }
  .col-xl-3 { max-width: $col-3; }
  .col-xl-4 { max-width: $col-4; }
  .col-xl-5 { max-width: $col-5; }
  .col-xl-6 { max-width: $col-6; }
  .col-xl-7 { max-width: $col-7; }
  .col-xl-8 { max-width: $col-8; }
  .col-xl-9 { max-width: $col-9; }
  .col-xl-10 { max-width: $col-10; }
  .col-xl-11 { max-width: $col-11; }
  .col-xl-12 { max-width: $col-12; }
  .col-xl-13 { max-width: $col-13; }
  .col-xl-14 { max-width: $col-14; }
  .col-xl-15 { max-width: $col-15; }
  .col-xl-16 { max-width: $col-16; }
  .col-xl-17 { max-width: $col-17; }
  .col-xl-18 { max-width: $col-18; }
  .col-xl-19 { max-width: $col-19; }
  .col-xl-20 { max-width: $col-20; }
  .col-xl-21 { max-width: $col-21; }
  .col-xl-22 { max-width: $col-22; }
  .col-xl-23 { max-width: $col-23; }
  .col-xl-24 { max-width: $col-24; }

  .d-xl-none {
    display: none!important;
  }
  .d-xl-block {
    display: block!important;
  }
  .d-xl-flex {
    display: flex!important;
  }
}
@media (min-width: $media-xxl / $font-size * 1em) {
  .container {
    max-width: ($media-xxl - 20px) / $font-size * 1em;
  }
  .col-xxl-1 { max-width: $col-1; }
  .col-xxl-2 { max-width: $col-2; }
  .col-xxl-3 { max-width: $col-3; }
  .col-xxl-4 { max-width: $col-4; }
  .col-xxl-5 { max-width: $col-5; }
  .col-xxl-6 { max-width: $col-6; }
  .col-xxl-7 { max-width: $col-7; }
  .col-xxl-8 { max-width: $col-8; }
  .col-xxl-9 { max-width: $col-9; }
  .col-xxl-10 { max-width: $col-10; }
  .col-xxl-11 { max-width: $col-11; }
  .col-xxl-12 { max-width: $col-12; }
  .col-xxl-13 { max-width: $col-13; }
  .col-xxl-14 { max-width: $col-14; }
  .col-xxl-15 { max-width: $col-15; }
  .col-xxl-16 { max-width: $col-16; }
  .col-xxl-17 { max-width: $col-17; }
  .col-xxl-18 { max-width: $col-18; }
  .col-xxl-19 { max-width: $col-19; }
  .col-xxl-20 { max-width: $col-20; }
  .col-xxl-21 { max-width: $col-21; }
  .col-xxl-22 { max-width: $col-22; }
  .col-xxl-23 { max-width: $col-23; }
  .col-xxl-24 { max-width: $col-24; }

  .d-xxl-none {
    display: none!important;
  }
  .d-xxl-block {
    display: block!important;
  }
  .d-xxl-flex {
    display: flex!important;
  }
}
