@import "../../assets/var";

.loading {
  display: block;
  position: absolute;
  z-index: 30;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  &:before,
  &:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 100%;
    vertical-align: middle;
  }
}
