$font-family: 'Roboto', sans-serif;
$font-size: 16px;

$color-red: #C90606;
$color-red-thin: #E95757;
$color-gray: #E4E0E0;
$color-gray-dark: #ECECEC;
$color-green: #69BE28;

$default-box-shadow: 0 (3px / $font-size * 1em) (10px / $font-size * 1em) 0 rgba(0, 0, 0, 0.25);

$media-xxl: 1560px;
$media-xl: 1280px;
$media-lg: 992px;
$media-md: 769px;
$media-sm: 575px;

$col-1: 100 / 24 * 1%;
$col-2: 100 / 24 * 2%;
$col-3: 100 / 24 * 3%;
$col-4: 100 / 24 * 4%;
$col-5: 100 / 24 * 5%;
$col-6: 100 / 4 * 1%;
$col-7: 100 / 24 * 7%;
$col-8: 100 / 24 * 8%;
$col-9: 100 / 24 * 9%;
$col-10: 100 / 24 * 10%;
$col-11: 100 / 24 * 11%;
$col-12: 100 / 2 * 1%;
$col-13: 100 / 24 * 13%;
$col-14: 100 / 24 * 14%;
$col-15: 100 / 24 * 15%;
$col-16: 100 / 24 * 16%;
$col-17: 100 / 24 * 17%;
$col-18: 100 / 4 * 3%;
$col-19: 100 / 24 * 19%;
$col-20: 100 / 24 * 20%;
$col-21: 100 / 24 * 21%;
$col-22: 100 / 24 * 22%;
$col-23: 100 / 24 * 23%;
$col-24: 100%;
