@import "../../assets/var";

.label-input {
  display: block;
  max-width: 100%;
  margin-bottom: 10px / $font-size * 1em;
  input {
    display: block;
    border: 1px solid $color-gray;
    background-color: #fff;
    color: transparent;
    font-size: 12px / $font-size * 1em;
    padding: (12px / 12px * 1em) (12px / 12px * 1em) (11px / 12px * 1em);
    width: 100%;
    min-width: 212px / $font-size * 1em;
    transition: color .25s linear, border-color .25s linear;
    &:focus {
      color: #000;
      & ~ .label-placeholder {
        top: 0;
        left: 10px / 12px * 1em;
      }
    }
  }
  &.val {
    input {
      color: #000;
    }
    .label-placeholder {
      top: 0;
      left: 10px / 12px * 1em;
    }
  }
  &.error {
    input {
      border-color: $color-red;
    }
    .label-placeholder {
      color: $color-red
    }
  }
  &.success {
    input {
      border-color: $color-green;
    }
    .label-placeholder {
      color: $color-green
    }
  }
  & + .switch-input {
    margin-bottom: 10px / $font-size * 1em
  }
}

.label-input-holder {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  padding-top: 9px / $font-size * 1em;
}

.label-placeholder {
  font-size: 12px / $font-size * 1em;
  line-height: 15px / 12px * 1em;
  display: block;
  position: absolute;
  top: 22px / 12px * 1em;
  left: 10px / 12px * 1em;
  z-index: 5;
  padding: 0 (3px / 12px * 1em);
  background-color: #fff;
  max-width: 192px / 12px * 1em;
  transition: top .25s linear, left .25s linear, color .25s linear;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: text;
}

.label-signature {
  font-size: 10px / $font-size * 1em;
  line-height: 12.5px / 10px * 1em;
  color: #000;
  display: block;
  max-width: 100%;
  margin-top: 5px / 10px * 1em;
}
